
# we never want to create a package-lock in this example, it breaks installations due the cyclic project structure:
# the example project is a child of the root project, AND consumes it as a file dependency.
package-lock = false
